// Main Section Colors
$main-bg: whiteSmoke !default;
$border: 4px double rgba(0, 0, 0, .1) !default;

$text-color: #444 !default;
$text-color-dark: #333 !default;
$text-color-darkest: #101010 !default;
$text-color-light: #888 !default;

// Main Link Colors
$link-color: #ff5d52 !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;
$link-color-nav: adjust-color($link-color, $lightness: 5, $saturation: 50) !default;

// Fonts
$serif: "freight-text-pro", Georgia, "Times New Roman", serif !default;
$sans: "Helvetica Neue", Arial, sans-serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;